header.header
	.header__bg(style="background-image: url(static/images/content/header/header-bg.jpg);")
		.container
			.header__top
				.header__logo.logo(data-aos="fade-right")
					a(href="#").header__logo-link
						img(src="static/images/common/header-logo.svg", alt="").header__logo-icon
						.header__logo-box
							span.header__logo-text.header__logo-text--size-big SWEET CARS
							span.header__logo-text ИМПОРТ АВТО ИЗ США
				.header__phones(data-aos="fade-left")
					a(href="tel:+380938964516").header__phone +38(093) 896-45-16
					a(href="tel:+380683443633").header__phone +38(067) 344-36-33
					a(href="tel:+380683443633").header__phone-btn.btn.btn--bg-yellow ЗАКАЗАТЬ ЗВОНОК
			.header__main
				h1.header__title.title.title--size-big.title--color-white(data-aos="fade-right" data-aos-delay="500") Цены на авто из США в период карантина
				span.header__subtitle.header-subtitle(data-aos="zoom-in" data-aos-delay="700") Хочешь узнать?
				.header__inner
					.header__col(data-aos="zoom-in" data-aos-delay="1000")
						img(src="static/images/content/header/header-icon-1.svg" alt="").header__col-icon
						span.header__col-text Почему упали цены <br> на аукционах США
					.header__col(data-aos="zoom-in" data-aos-delay="1200")
						img(src="static/images/content/header/header-icon-2.svg" alt="").header__col-icon
						span.header__col-text На сколько <br> упали цены
					.header__col(data-aos="zoom-in" data-aos-delay="1400")
						img(src="static/images/content/header/header-icon-3.svg" alt="").header__col-icon
						span.header__col-text Как сейчас работают <br> аукционы и порты
					.header__col(data-aos="zoom-in" data-aos-delay="1600")
						img(src="static/images/content/header/header-icon-4.svg" alt="").header__col-icon
						span.header__col-text Какие риски и вообще <br> стоит ли покупать сейчас <br> авто из США
				.header__bottom
					span.header__bottom-subtitle.header-subtitle(data-aos="fade-up" data-aos-delay="1800") Все ответы в этом видео
					img(src="static/images/content/header/arrows-down.svg" alt="").header__bottom-icon
					.header__video(data-aos="zoom-in-down" data-aos-delay="500" data-aos-easing="ease")
						video(preload="auto" controls="controls")
							source(src="static/images/common/video-2.mp4")