section.s-discount
	.discount__bg(style="background-image: url(static/images/content/discount/discount-bg.jpg);")
		.container
			.discount__inner
				.discount__top(data-aos="slide-up")
					h2.discount__title.section-title.section-title--color-dark Скидка на наши услуги <span>только на период действия карантина</span>
					a(href="#").discount__link.btn.btn--bg-yellow Забронировать скидку сейчас!
				.discount__item.discount__item--bg-dark(data-aos="fade-right")
					.discount__item-desc(data-aos="zoom-in" data-aos-delay="1000") Для авто стоимостью до <span>2000$</span> на аукционе
					span.discount__item-number -50%
					span.discount__item-price(data-currency="$" data-aos="zoom-in" data-aos-delay="500") 350
					span.discount__item-reduced $700
					.discount__item-image(style="background-image: url(static/images/content/discount/discount-item-1.jpg);")
				.discount__item.discount__item--bg-white(data-aos="fade-left")
					.discount__item-desc.discount__item-desc--color-dark(data-aos="zoom-in" data-aos-delay="1000") Для авто стоимостью до <span>5000$</span> на аукционе
					span.discount__item-number.discount__item-number--color-dark -30%
					span.discount__item-price.discount__item-price--color-dark(data-currency="$") 500
					span.discount__item-reduced.discount__item-reduced--color-dark $700
					.discount__item-image(style="background-image: url(static/images/content/discount/discount-item-2.jpg);")