section.s-guarantee
	.guarantee__bg(style="background-image: url(static/images/content/guarantee/guarantee-bg.jpg)")
		.container
			h2.guarantee__title.section-title.section-title--color-dark(data-aos="fade-up") Наши гарантии:
			.guarantee__inner
				.guarantee__col(data-aos="fade-right")
					.guarantee__col-item
						img(src="static/images/content/guarantee/icon-1.svg" alt="").guarantee__icon
						h3.guarantee__col-title Финансовые гарантии:
						span.guarantee__col-desc Мы гарантируем, что стоимость Вашего авто не вырастет по цене в процессе доставки. Все тарифы и итоговая цена зафиксированы еще до начала покупки авто.
					.guarantee__col-item
						img(src="static/images/content/guarantee/icon-2.svg", alt="").guarantee__icon
						h3.guarantee__col-title Страховые гарантии:
						span.guarantee__col-desc Мы страхуем автомобили на всех этапах доставки, в том числе и от дополнительных повреждений, что сводит к минимуму любые риски.
				.guarantee__content(style="background-image: url(static/images/content/guarantee/guarantee-image.jpg)" data-aos="fade-left")
					.guarantee__content-box
						h3.guarantee__content-title Работаем по официальному договору
						span.guarantee__content-desc Мы надежный подрядчик и все условия, порядок и размер платежей мы с вами прописываем в договоре в двух экземплярах
						a(href="#" download).guarantee__content-btn.btn.btn--bg-yellow СКАЧАТЬ ПРИМЕР