section.s-prices
	.prices__bg(style="background-image: url(static/images/content/prices/prices-bg.jpg);")
		.container
			.prices__header
				h2.prices__title.section-title.section-title--color-dark(data-aos="fade-up") На сколько реально упали цены на авто-аукционах США
				nav.prices__navigation
					ul.prices__navigation-list
						li.prices__navigation-item.is-active(data-tab-name="tab-1" data-aos="zoom-in" data-aos-delay="") Ford focus
						li.prices__navigation-item(data-tab-name="tab-2" data-aos="zoom-in" data-aos-delay="200") Volkswagen Jetta
						li.prices__navigation-item(data-tab-name="tab-3" data-aos="zoom-in" data-aos-delay="400") Mini Cooper
						li.prices__navigation-item(data-tab-name="tab-4" data-aos="zoom-in" data-aos-delay="600") Honda Civic
						li.prices__navigation-item(data-tab-name="tab-5" data-aos="zoom-in" data-aos-delay="800") MAZDA CX-5
						li.prices__navigation-item(data-tab-name="tab-6" data-aos="zoom-in" data-aos-delay="1000") Audi A4
						li.prices__navigation-item(data-tab-name="tab-7" data-aos="zoom-in" data-aos-delay="1200") Ford Fusion
						li.prices__navigation-item(data-tab-name="tab-8" data-aos="zoom-in" data-aos-delay="1400") BMW 328i
						li.prices__navigation-item(data-tab-name="tab-9" data-aos="zoom-in" data-aos-delay="1600") BMW i3
						li.prices__navigation-item(data-tab-name="tab-10" data-aos="zoom-in" data-aos-delay="1800") Ford C-Max
						li.prices__navigation-item(data-tab-name="tab-11" data-aos="zoom-in" data-aos-delay="2000") Hyundai Elantra
						li.prices__navigation-item(data-tab-name="tab-12" data-aos="zoom-in" data-aos-delay="2200") Volkswagen Passat
			.prices__body
				include ../modules/prices/prices-prev-1
				include ../modules/prices/prices-prev-2
				include ../modules/prices/prices-prev-3
				include ../modules/prices/prices-prev-4
				include ../modules/prices/prices-prev-5
				include ../modules/prices/prices-prev-6
				include ../modules/prices/prices-prev-7
				include ../modules/prices/prices-prev-8
				include ../modules/prices/prices-prev-9
				include ../modules/prices/prices-prev-10
				include ../modules/prices/prices-prev-11
				include ../modules/prices/prices-prev-12
				p.prices__body-desc(data-aos="fade-right") Это экономия только на выигрышной ставке, дополнительная экономия получается еще на растаможке, так как она зависит от цены авто на аукционе.
			.prices__footer(data-aos="zoom-in-down")
				p.prices__footer-text Для расчета желаемой марки авто в Украине со всеми платежами оставляйте заявку или сразу звоните по телефону