section.s-question-answer
	.question-answer__bg(style="background-image: url(static/images/content/question-answer/question-answer-bg.jpg)")
		.container
			h2.question-answer__title.section-title Вопрос / ответ
			.question-answer__inner
				.question-answer__accordion
					button.question-answer__accordion-btn(data-aos="zoom-in")
						img(src="static/images/common/dollar.svg", alt="Иконка").question-answer__accordion-icon
						span.question-answer__accordion-btn-text Почему упали цены на авто в США?
					.question-answer__accordion-content
						p.question-answer__accordion-text Сейчас как никогда выгодно покупать машину с западных аукционов. Цены упали на 30-50%, конкуренции практически нет. Те авто, к которым вы присматривались еще месяц назад, сейчас стоят в 1,5-2 раза дешевле. При этом проблем с доставкой или растаможкой никаких не появилось! Меры карантина касаются людей, а не автомобилей или грузоперевозок. Есть мнение, что к лету эпидемия закончится и все вернется на круги своя. Машины снова приобретут свои привычные цены, а возможно, даже более высокие — из-за длительного спада все захотят отыграться и заработать больше.
					button.question-answer__accordion-btn(data-aos="zoom-in")
						img(src="static/images/common/reduced-price.svg", alt="Иконка").question-answer__accordion-icon
						span.question-answer__accordion-btn-text На сколько упали цены?
					.question-answer__accordion-content
						p.question-answer__accordion-text Машины приходят по плану, порт в Одессе работает (ввели ограничения для водителей, они должны передвигаться в определенных местах иметь маску, средства индивидуальной защитой и находится возле авто, нельзя свободно передвигаться по территории порта), растаможка работает (брокеры работают удаленно, единственное нужно оплачивать растаможку более оперативно, чтоб растамаживать авто день в день из-за того, что растаможка считается в долларах, а платим в гривнах ), сертификация тоже работает проблем с этим нет
					button.question-answer__accordion-btn(data-aos="zoom-in")
						img(src="static/images/common/clock.svg", alt="Иконка").question-answer__accordion-icon
						span.question-answer__accordion-btn-text Стоит ли сейчас покупать?
					.question-answer__accordion-content
						p.question-answer__accordion-text Резкое падение рубля началось после череды обвалов нефтяных котировок, когда страны ОПЕК+ не смогли договориться о продлении сделки по сокращению добычи нефти. С закрытия торгов 5 марта и вплоть до 19-го, когда американская и европейская валюты обновили свои многолетние пики (доллар — 81,97 рубля, евро — до 89,6), рубль упал к доллару более чем на 17 процентов, а к евро — на порядка 15. Сейчас же курс доллара стабилизировался под отметкой в 76 рублей, евро — в районе 82,4 рубля. Очередное заседание ОПЕК+ назначено на 9 апреля.
					button.question-answer__accordion-btn(data-aos="zoom-in")
						img(src="static/images/common/peril.svg", alt="Иконка").question-answer__accordion-icon
						span.question-answer__accordion-btn-text Какие риски заказа авто из США в период карантина?
					.question-answer__accordion-content
						p.question-answer__accordion-text Машины приходят по плану, порт в Одессе работает (ввели ограничения для водителей, они должны передвигаться в определенных местах иметь маску, средства индивидуальной защитой и находится возле авто, нельзя свободно передвигаться по территории порта), растаможка работает (брокеры работают удаленно, единственное нужно оплачивать растаможку более оперативно, чтоб растамаживать авто день в день из-за того, что растаможка считается в долларах, а платим в гривнах ), сертификация тоже работает проблем с этим нет
					button.question-answer__accordion-btn(data-aos="zoom-in")
						img(src="static/images/common/ship.svg", alt="Иконка").question-answer__accordion-icon
						span.question-answer__accordion-btn-text Как заказать авто в период карантина?
					.question-answer__accordion-content
						p.question-answer__accordion-text Машины приходят по плану, порт в Одессе работает (ввели ограничения для водителей, они должны передвигаться в определенных местах иметь маску, средства индивидуальной защитой и находится возле авто, нельзя свободно передвигаться по территории порта), растаможка работает (брокеры работают удаленно, единственное нужно оплачивать растаможку более оперативно, чтоб растамаживать авто день в день из-за того, что растаможка считается в долларах, а платим в гривнах ), сертификация тоже работает проблем с этим нет
				.question-answer__content(data-aos="fade-right")
					.question-answer__content-box
						img(src="static/images/content/question-answer/monitor.png" alt="Монитор").question-answer__content-image
						video(preload="auto" controls="controls" class="question-answer__content-video")
							source(src="static/images/common/video-1.mp4")
					h3.question-answer__content-title Вся информация есть в этом видео