extends layout/main

block variables
	-var title = 'Главная страница'

block content
	include pages/discount
	include pages/basket
	include pages/prices
	include pages/banner
	include pages/guarantee
	include pages/question-answer

