// Colors
$white: #fff;
$black: #000;
$yellow: #FCD025;
$dark: #2B3547;
$red: #d62d30;

// Sizes
$base-font-size: 16px;

$tablet: 1000px;
$large: 1024;
$desktop: 1920px;
$mobile: 480px;

$content: 1246px;

// Fonts
