.prices__content.tab-1.prices__content--active.is-active
	.prices__body-image(style="background-image: url(static/images/content/prices/prices-image-1.jpg);" data-aos="fade-right" data-aos-delay="400")
	.prices__body-info
		span.prices__body-name Ford focus
		ul.prices__body-list
			li.prices__body-item(data-aos="zoom-in")
				span.prices__body-item-text Год выпуска:
				span.prices__body-item-number 2015
			li.prices__body-item(data-aos="zoom-in" data-aos-delay="200")
				span.prices__body-item-text Цена до карантина:
				span.prices__body-item-price.prices__body-item-price--underline $1900
			li.prices__body-item(data-aos="zoom-in" data-aos-delay="400")
				span.prices__body-item-text Цена сейчас:
				span.prices__body-item-price.prices__body-item-price--color-red.prices__body-item-price--wight-bold $700
			li.prices__body-item(data-aos="zoom-in" data-aos-delay="600")
				span.prices__body-item-text Экономия:
				span.prices__body-item-price.prices__body-item-price--color-red $1200
