.prices__content.tab-10
	.prices__body-image(style="background-image: url(static/images/content/prices/prices-image-10.jpg);")
	.prices__body-info
		span.prices__body-name Ford focus
		ul.prices__body-list
			li.prices__body-item
				span.prices__body-item-text Год выпуска:
				span.prices__body-item-number 2015
			li.prices__body-item
				span.prices__body-item-text Цена до карантина:
				span.prices__body-item-price.prices__body-item-price--underline $1900
			li.prices__body-item
				span.prices__body-item-text Цена сейчас:
				span.prices__body-item-price.prices__body-item-price--color-red.prices__body-item-price--wight-bold $700
			li.prices__body-item
				span.prices__body-item-text Экономия:
				span.prices__body-item-price.prices__body-item-price--color-red $1200
