footer.footer
	.footer__bg(style="background-image: url(static/images/content/banner/banner-bg.jpg)")
		.container
			.footer__social
				a(href="#" data-aos="zoom-in").footer__social-item
					img(src="static/images/common/telegram.svg" alt="").footer__social-icon
					.footer__social-info
						span.footer__social-text Подпиcаться на наш
						span.footer__social-text.footer__social-text--wight-bold Telegram
				a(href="#" data-aos="zoom-in" data-aos-delay="200").footer__social-item
					img(src="static/images/common/instagram.svg" alt="").footer__social-icon
					.footer__social-info
						span.footer__social-text Подпиcаться на наш
						span.footer__social-text.footer__social-text--wight-bold Instagram
				a(href="#" data-aos="zoom-in" data-aos-delay="400" data-aos-offset="0").footer__social-item
					img(src="static/images/common/youtube.svg" alt="").footer__social-icon
					.footer__social-info
						span.footer__social-text Подпиcаться на наш
						span.footer__social-text.footer__social-text--wight-bold YouTube